{% extends 'common/base.html' %}
{% load static %}

{% block content %}
    <form method="POST" class="recipe-form">
        {% csrf_token %}
        <h1>Log In</h1>

        <div class="generic-div">
            {{ form.username.label_tag }}
            {{ form.username.errors }}
            {{ form.username }}

        </div>

        <div class="generic-div">
            {{ form.password.label_tag }}
            {{ form.password.errors }}
            {{ form.password }}

        </div>
        <a href="{% url 'register' %}" class="hyperlink">Don`t have an account? Click here to register</a>
        <button>Submit</button>
    </form>
{% endblock %}