{% extends 'common/base.html' %}
{% load static %}

{% block content %}
    <div class="recipe-container profile-details">
        {% if request.user.profile.profile_picture  %}
            <div class="profile-pic">
                <img src="{{ request.user.profile.profile_picture.url }}" alt="profile-pic">
            </div>
        {% endif %}
        <div class="profile-info">
            <h3>{{ request.user.username }}</h3>
            <h3>{{ request.user.email }}</h3>
            {% if request.user.profile.full_name %}
                <p><b>Full name:</b> {{ request.user.profile.full_name }}</p>
            {% endif %}
            {% if request.user.profile.bio_info  %}
                <p><b>About me:</b><i> {{ request.user.profile.bio_info }}</i></p>
            {% endif %}
        </div>

        <div class="buttons">
            {% if request.user.pk == user.profile.pk %}
                <a href="{% url 'profile-edit' pk=request.user.pk %}"><i class="fa-solid fa-pencil"></i></a>
                <a href="{% url 'profile-delete' pk=request.user.pk %}"><i class="fa-solid fa-trash"></i></a>
            {% endif %}
        </div>

    </div>

{% endblock %}