body {

    margin: 0;
    padding: 0;

}

.newsletter-prompt {
    background-color: rgb(231, 81, 81);
    color: white;
    text-align: center;
    padding: 20px;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

.newsletter-prompt a {
    color: inherit;
    text-decoration: none;
}

.newsletter-prompt a:hover{
    color: rgb(194, 197, 127);
}

.letter-emoji {
    font-size: 1.2em;
}

.nav-block {
    background-color: #fefae9;
    display: flex;
    justify-content: center;
    gap:450px;
    align-items: center;
    padding: 0.2rem 0.2rem 0.2rem 0.2rem;
}

.logo-img img {
    width: 300px;
}

nav ul{
    list-style-type: none;
    display:flex;
    justify-content: space-between;
    gap:20px;
}