{% extends 'common/base.html' %}
{% load static %}

{% block content %}
<div class="contact-section">
    <h1>Sign Up for our newsletter</h1>
    <p>Catch up with the latest and most popular recipes with a couple of clicks only</p>

    <form method="POST" class="contact-form">
        {% csrf_token %}
        {% if form.non_field_errors %}
             <p class="error-field">{{ form.non_field_errors|striptags }}</p>
        {% endif %}
        <div class="form-group">
            <label for="name">Your Name</label>
            <input type="text" id="name" name="name" required>
        </div>

        <div class="form-group">
            <label for="email">Your Email Address</label>
            <input type="email" id="email" name="email" required>
        </div>

        <button>Submit</button>
    </form>
</div>
{% endblock %}