{%  load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    <title>What`s for Dinner</title>
</head>
<body>
    <main>
        <div class="content-wrap">
            <div class="newsletter-prompt">
                <a href="#">Sign up for our newsletter by clicking here<span class="letter-emoji">💌</span></a>
            </div>

            {% include "common/nav.html" %}
            {% block content %}
            {% endblock %}
        </div>
    </main>

    <footer>
        <div class="social-media">
            <p>Follow us</p>
            <div class="icons">
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-pinterest-p"></i>
                <i class="fa-brands fa-youtube"></i>
            </div>

        </div>

        <div class="additional-info">
            <div class="links">
                <a href="#">Recipe Index</a>
                <a href="{% url 'about' %}">About</a>
                <a href="{% url 'contacts' %}">Contacts</a>
            </div>


            <div class="logo-img">
                <img src="{% static 'images/whatsfordinner_logo2.png' %}" alt="logo">
            </div>
        </div>
        <p class="credentials">© 2025 What`s for Dinner? All Rights Reserved.</p>

    </footer>

</body>
</html>