{% load static %}

<div class="nav-block">
    <div class="logo-img">
        <img src="{% static 'images/whatsfordinner_logo2.png' %}" alt="logo">
    </div>

    <nav>
        <ul>
            <li>
                <a href="{%  url 'home' %}">Home</a>
            </li>

            <li class="dropdown">
                <a href="{%  url 'all-recipes' %}">Recipes</a> <button class="dropdown-toggle" aria-expanded="false">▾</button>

                <ul class="dropdown-menu">
                    <li><a href="#"><i class="fa-solid fa-circle-plus"></i></a></li>
                    <li><a href="#"><i class="fa-solid fa-book"></i></a></li>
                    <li><a href="#"><i class="fa-solid fa-heart"></i></a></li>
                </ul>
            </li>

            <li>
                <a href="#">Profile</a>
            </li>
        </ul>
    </nav>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const toggles = document.querySelectorAll(".dropdown-toggle");

        toggles.forEach(toggle => {
            toggle.addEventListener("click", function(e) {
                e.stopPropagation();
                const dropdown = toggle.closest(".dropdown");
                dropdown.classList.toggle("open");
            });
        });

        document.addEventListener("click", function() {
            document.querySelectorAll(".dropdown").forEach( d => d.classList.remove("open"));
        });
    });
</script>
