{% load static %}

<div class="nav-block">
    <div class="logo-img">
        <img src="{% static 'images/whatsfordinner_logo2.png' %}" alt="logo">
    </div>

    <nav>
        <ul>
            <li>
                <a href="{%  url 'home' %}">Home</a>
            </li>

            <li class="dropdown {% if request.resolver_match.url_name == 'all-recipes' %}open{% endif %}">
                <a href="{%  url 'all-recipes' %}">Recipes</a>
                <ul class="dropdown-menu">
                    <li><a href="#"><i class="fa-solid fa-circle-plus"></i></a></li>
                    <li><a href="#"><i class="fa-solid fa-book"></i></a></li>
                    <li><a href="#"><i class="fa-solid fa-heart"></i></a></li>
                </ul>
            </li>

            <li>
                <a href="#">Profile</a>
            </li>
        </ul>
    </nav>
</div>

