{% load static %}

<div class="nav-block">
    <div class="logo-img">
        <a href="{% url 'home' %}">
            <img src="{% static 'images/whatsfordinner_logo2.png' %}" alt="logo">
        </a>

    </div>

    <nav>
        <ul>
            <li>
                <a href="{%  url 'home' %}">Home</a>
            </li>

            <li class="dropdown {% if request.resolver_match.url_name == 'all-recipes' %}open{% endif %}">
                <a href="{%  url 'all-recipes' %}">Recipes</a>
                <ul class="dropdown-menu">
                    <li class="tooltip-container"><a href="{% url 'create-recipe' %}">
                        <i class="fa-solid fa-circle-plus"></i>
                        <span class="tooltip-text">Add Recipe</span>
                    </a></li>
                    <li class="tooltip-container"><a href="#">
                        <i class="fa-solid fa-book"></i>
                        <span class="tooltip-text">My Recipes</span>
                    </a></li>
                    <li class="tooltip-container"><a href="#">
                        <i class="fa-solid fa-heart"></i>
                        <span class="tooltip-text">Favourite Recipies</span>
                    </a></li>
                </ul>
            </li>

            <li>
                <a href="#">Profile</a>
            </li>
        </ul>
    </nav>
</div>

