{%  extends 'common/base.html' %}
{% load static %}

{% block content %}

    {% for recipe in recipe_list %}
        <div class="recipe-img">
        {% if recipe.image %}
            <img src="{{ recipe.image.url }}" alt="recipe-image">
        {% endif %}
        </div>

        <h2>{{ recipe.title }}</h2>

        <p>{{ recipe.instructions }}</p>
        <ul>
            {{ recipe.ingredients|linebreaks }}
        </ul>


    {% empty %}
        <h1>No recipes to show</h1>
    {% endfor %}
{% endblock %}