{%  extends 'common/base.html' %}

{% block content %}

    <form method="POST" enctype="multipart/form-data" class="recipe-form">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <h1> Create Recipe</h1>

    <div class="generic-div">
        {{ form.title.label_tag }}
        {{ form.title }}
        {{ form.title.errors }}
    </div>

    <div class="generic-div">
        {{ form.instructions.label_tag }}
        {{ form.instructions }}
        {{ form.instructions.errors }}
    </div>

    <div class="generic-div">
        {{ form.ingredients.label_tag }}
        {{ form.ingredients }}
        {{ form.ingredients.errors }}
    </div>

    <div class="image-div">
        {{ form.image.label_tag }}
        {{ form.image }}
        {{ form.image.errors }}
    </div>

    <button>Submit</button>
    </form>
{% endblock %}