{%  extends 'common/base.html' %}

{% block content %}

    <form method="POST" enctype="multipart/form-data" class="recipe-form">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <h1> Create Recipe</h1>

    <div class="generic-div">
        {{ form.title.label_tag }}
        {{ form.title.errors }}
        {{ form.title }}

    </div>

    <div class="generic-div">
        {{ form.instructions.label_tag }}
        {{ form.instructions.errors }}
        {{ form.instructions }}

    </div>

    <div class="generic-div">
        {{ form.ingredients.label_tag }}
        {{ form.ingredients.errors }}
        {{ form.ingredients }}

    </div>

    <div class="times">
         <div class="generic-div">
            {{ form.prep_time.label_tag }}
             {{ form.prep_time.errors }}
            {{ form.prep_time }}

        </div>
        <div class="generic-div">
            {{ form.cook_time.label_tag }}
            {{ form.cook_time.errors }}
            {{ form.cook_time }}

        </div>

        <div class="generic-div">
            {{ form.servings.label_tag }}
            {{ form.servings.errors }}
            {{ form.servings }}

        </div>
    </div>



    <div class="image-div">
        {{ form.image.label_tag }}
        {{ form.image.errors }}
        {{ form.image }}

    </div>

    <button>Submit</button>
    </form>
{% endblock %}